.house * {
  box-sizing: border-box;
}

.house {
  position: relative;
}

.house__floor-list {
  list-style: none;
}

.floor {
  padding-top: 0.5rem;
  border-bottom: 2px solid #333;
}

.floor__order {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 500;
}

.floor__btn {
  min-width: 30px;
  margin-right: 1rem;
}

.floor__btn:last-child {
  margin-right: 0;
}

.elevator-group {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.elevator {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 60px;
  overflow: hidden;
  margin-right: 3rem;
  background-color: #ededed;
  border: 2px solid #333;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.elevator:last-child {
  margin-right: 0;
}

.elevator__door {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 50%;
  background-color: #bababa;
  transition-property: transform;
}

.elevator__door_left {
  left: 0;
  transform: translateX(-100%);
}

.elevator__door_right {
  right: 0;
  transform: translateX(100%);
}

.elevator_closed .elevator__door {
  transform: none !important;
}
