.house {
  position: relative;
}

.house__floor {
  height: 100px;
  padding-top: 2rem;
  border-bottom: 2px solid #333;
}

.house__floor-list {
  list-style: none;
}

.house__floor-btn {
  min-width: 30px;
}

.elevator-group {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.elevator {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 60px;
  overflow: hidden;
  margin-right: 3rem;
  background-color: #ededed;
  border: 2px solid #333;
  transition: transform 0.5s ease-in-out;
}

.elevator:last-child {
  margin-right: 0;
}

.elevator:before,
.elevator:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 50%;
  background-color: #bababa;
  transition: transform 0.2s;
}

.elevator:before {
  left: 0;
  transform: translateX(-100%);
}

.elevator:after {
  right: 0;
  transform: translateX(100%);
}

.elevator_closed:before,
.elevator_closed:after {
  transform: none;
}
